body, html {
    height: 100%;
  }
  
  body {
    /* The image used */
    background-image: url("img/web.gif");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
body,img{
    height: 70px;
     
}

h1{
    text-align: center;
    color: blue;
    background-color: white;
    background-size: 60;
}